.preloader
  .preloader__wrapper
    p.preloader__name(data-animation="paragraph") Preloader

    .preloader__bottom
      .preloader__desc Preloader Description
      .preloader__number__wrapper
        .preloader__number 10%
